<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="main">
   
		<h1>{{ h1 }}</h1>
		<h1>{{ h2 }}</h1>
		
		<div id="container" class="contaner">
        
			<div id="main_photo" class="main_photo">
            
			</div>
        
			<div id="main_thumbs" class="main_thumbs">
            
			</div>
        
		</div>
    </div>   
    
     {% include 'js.tmpl' %} 
    
    
</body>
</html>