<div class="product_full">

		<div class="product flexStart">
			<div> ID={{ data.user_name }}</div>
			<div>Привет, {{ data.user_name }}!</div>
			<div>Ваш логин: {{ data.login }}</div>
			<div>Ваш Пароль: {{ data.pass }}</div>
		</div>

</div>



