<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta name="robots" content="noindex, nofollow"/>
    <title>{{ data.title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


	<header>
		<div class="header">
			<h1>{{ data.h1 }}</h1>
		</div>
		
		<nav class="main_menu">
			<ul>
				<li><a href="?path=index">Главная</a></li>
				<li><a href="?path=cart">Корзина <span id="basket_items">({{ num_of_items}})</span></a></li>
				<li><a href="?path=reg">Регистрация</a></li>
				<li><a href="?path=user">Кабинет</a></li>
				<li><a href="?path=admin">Админка</a></li>
				<li><a href="?path=out">Выход</a></li>

			</ul>
		</nav>
	</header>